

body {
    background-image: url("/img/Background.png");
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.portfolio_buttons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.landing_segment {
    margin-top: 125px;
}

.navbar-custom {
    margin-top: 70px;
    padding-top: 8px;
}

.about_landing {
    background-color: white;
}


#about_header {
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

.portfolio_segment {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, .9);

}

.aboutMe {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);

}

.portfolio_header {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

.resume_segment {
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, .9);
}


.resume_header {
    font-size: 30px;
    font-weight: bold;
}

#github_logo {
    height: 50px;
    width: 50px;
    opacity: .3;
    margin-top: 10px;
}

#linkedin_logo {
    height: 50px;
    width: 50px;
    opacity: .3;
    margin-top: 10px;
}

#quote_img {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about_quote {
    margin-top: 25px;
    background-color: rgba(255, 255, 255, .5);
    font-size: 30px;
    font-style: italic;
}

.about_pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

#about_me {
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 60px;
}


#quote {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}


/*[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/
